{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2 mb-4">
            <div class="card shadow">
                <div class="card-header card-header-custom text-center">
                    <h3 class="card-title-green">{% trans "Sign Up" %}</h3>
                </div>

                <div class="card-body">
                    <!-- Check if the user already has an account and redirect to Sign in-->
                    <p class="text-center mb-4">
                        {% blocktrans %}Already have an account?{% endblocktrans %}
                        <a href="{{ login_url }}" class="text-primary">{% trans "Sign In" %}</a>.
                    </p>
                    
                    <!-- Submit form -->
                    <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">
                        {% csrf_token %}

                        <div class="form-group mb-3">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                            {{ form.username.errors }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form.password1.label_tag }}
                            {{ form.password1 }}
                            <div class="form-tex text-muted mt-3">
                                Password must contain at least 8 characters, cannot be entirely numeric, 
                                and cannot be too similar to your personal information.
                            </div>
                            {{ form.password1.errors }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form.password2.label_tag }}
                            {{ form.password2 }}
                            {{ form.password2.errors }}
                        </div>

                        <!-- Submit button -->
                        <div class="text-center">
                            <button class="btn btn-pink btn-lg" type="submit">{% trans "Sign Up" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript to check password mismatch in Password and Password (again) -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.getElementById("signup_form");
        var password1 = document.getElementById("id_password1");
        var password2 = document.getElementById("id_password2");

        // Password mismatch check
        form.addEventListener("submit", function (event) {
            if (password1.value !== password2.value) {
                event.preventDefault();
                alert("Passwords do not match");
            }
        });
    });
</script>
{% endblock %}