{% extends 'base.html' %}

{% load static %}

{% block title %}Edit Recipe{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Edit Recipe</h1>
    <!-- Recipe form -->
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-center mb-4">
            <button type="submit" name="preview" class="btn btn-pink mb-2 mb-md-0 me-md-2">Preview</button>
            <button type="submit" class="btn btn-green mb-2 mb-md-0 me-md-2">Submit</button>
            {% if recipe.user == request.user %}
                <a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}