{% extends 'base.html' %}

{% load static %} 

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="container mt-4">

    <!-- Hero/Banner Section -->
    <div class="jumbotron" style="background-image: url('{% static 'images/banner.jpg' %}');">
        <h1 class="jumbotron-welcome">Welcome to Happy Belly Recipes!</h1>
        <p class="jumbotron-message">Discover and share amasing recipes from around the world.</p>
        <a class="jumbotron-btn btn btn-lg" href="{% url 'account_signup' %}" role="button">Sign Up</a>
    </div>

    <!-- Main Content with Cards -->
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title-green">Discover Amasing Recipes</h5>
                    <p class="card-text">
                        Explore a wide variety of delicious recipes tailored to suit every taste and occasion. 
                        <br><br>Happy Belly makes it easy to organise all your recipes in one convinient place, eliminating the hassle of scattered notes or bookmarks. 
                        <br><br>
                        Happy Belly also keeps your cooking exciting with a constant stream of fresh inspiration.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title-green">Join Our Community</h5>
                    <p class="card-text">
                        Become a member of Happy Belly Community and share your culinary creations with others. Enjoy tips, tricks, and more from fellow food enthusiasts.
                        <br>
                        <br>
                        Signing up is quick, easy, and free. Once you join, you can start building your recipe collection, adding your favorites, or experimenting with new creations. 
                        <br>
                        <br>Your personal culinary hub is just a few clicks away.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}